{% extends 'base/base.html' %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}
<div class="card">
    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
    <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <p><strong>Prix :</strong> {{ product.price }} €</p>
        <a href="{% url 'add_to_cart' product.pk %}" class="btn btn-success">Ajouter au panier</a>
    </div>
</div>
{% endblock %}
